
.container{
  background-color: rgb(205, 214, 211);
  border: 1px solid gray;
  margin: 20px 20px;
}
h2{
  text-align: center;
 border: 1px solid rgb(41, 38, 38);
  margin: auto;
  background-color: rgb(111, 111, 124);
  color: white;
  padding: 20px 10px;
 
}
.fa{
  display: flex;
  justify-content: flex-start;
}
.col-md-4{
   border: 1px solid gray;
   margin: 50px 5px;
   width: 40px;
   height: 500px;
   background-color: darkslategray;
}
.col-md-6{
  margin: 50px 20px;
}
.col-sm-2{
  background-color: darkslategray;
  border: 1px solid rgb(58, 54, 54);
  margin: 30px 5px;
  padding: 60px 100px;
}

